* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
*Navbar {
  width: 100vh;
  height: 50px;
  background-color: #cedfce;
}
